[alias]
	adog=log --all --decorate --oneline --graph
	a = add
	c = commit
	s = status
	co = checkout
[user]
	email = rajibbajracharya@gmail.com
	name=SeyTo
[init]
	defaultBranch=main
	helper=store
[credential]
	helper = store
[pull]
	rebase = true
